@font-face {
    font-family:'AllerLightRegular';
    src:url('fonts/aller_lt-webfont.eot');
    src:local('AllerLightRegular'), url('fonts/aller_lt-webfont.ttf') format('truetype');
}

body {
    color: #fff;
    background: #399;
}
.notranslate {
    background-image: none;
}
.notranslate #wrapper {
    background: url(images/bg_body.png?1345111320) repeat-y;
}
html, body {
    height: 100%;
}
#wrapper {
    width: 950px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding: 0 20px;
    background: url(images/bg.png?1345111320) repeat-y;
}

a.button {
    background:url(images/list_arrow2.gif?1345111320) no-repeat left center;
    font-size:11px;
    padding-left:20px;
    text-decoration:none;
    color:#35a1bf;
}

a.button:hover {
    background-color:#fff;
    background:url(images/list_arrow2.gif?1345111320) no-repeat left center;
    text-decoration:underline;
}

#globalWrapper,#identityWrapper,#topNav,#breadcrumbWrapper,#topGraphicWrapper,#adLeaderboardWrapper,#contentWrapperWrapper,#footer {
    width:920px;
}

#globalWrapper {
    background:#fff;
    width:900px;
    padding:0;
}

#globalContainer {
    border-bottom:1px dotted #ccc;
    font-size:10px;
    height:22px;
    padding:10px 0 14px;
}

#globalLanguage li {
    margin-left:20px;
}

#globalLanguage a {
    color:#666;
    font-size:13px;
    text-transform:none;
}

#globalLanguage a.active {
    color:#333;
    font-weight:400;
}

#globalSearch .field {
    font-size:10px;
    background-color:#fff;
    border:1px solid #333;
    line-height:16px;
    color:#999;
    height:18px;
    width:170px;
    margin:1px 0 0;
    padding:1px 5px 1px 3px;
}

#globalSearch .button {
    border:none;
    color:transparent;
    height:21px;
    background:transparent url(images/bg_button.png?1345111320) no-repeat left top;
    overflow:hidden;
    width:21px;
    background-image:url(images/bg_button.png?1345111320);
    margin:0 0 0 5px;
    padding:0 0 0 21px;
}

#identityWrapper {
    width:900px;
}

#identityContact {
    background:#fff;
    margin-top:0;
    border:none;
}

#identityContact img {
    margin:0 20px 0 0;
}

#companyName {
    font-family:Arial, Georgia,Serif;
    font-size:19px;
    color:#333;
    font-weight:700;
}

#companyTagline {
    font-size:17px;
    font-family:"Times New Roman",Georgia,Serif;
    color:#399;
}

#actionLine {
    color:#999;
    font-size:15px;
    font-style:normal;
}

#phoneNumber {
    font-size:22px;
    font-weight:700;
    line-height:36px;
    color:#399;
}

#topNav {
    border-top:1px solid #333;
    border-bottom:none;
    padding-top:1px;
    width:900px;
}

#topNav ul {
    background-repeat:repeat;
    padding-left:0;
    width:900px;
    border-bottom:none;
    background:#e1f0f0;
}

#topNav ul li a {
    border:none;
    font-size:16px;
    height:49px;
    line-height:49px;
    color:#333;
    font-weight:700;
    padding:0 15px;
}

#topNav ul li a.hasChildren {
    margin-bottom:31px;
}

#topNav ul li a:hover {
    z-index:-1;
    text-decoration:none;
    background:#c8e4e4;
}

#topNav ul li a.active,#topNav ul li a.active:hover {
    text-decoration:none;
    color:#333;
    background:#a9d4d4;
    font-weight:700!important;
}

#topNav ul ul {
    background:url(images/bg_topnav_sub.jpg?1345111320) repeat-x left top;
    height:31px;
    top:49px;
}

#topNav ul li ul {
    padding-left:5px;
    background:none;
    background-color:#FFF;
}

#topNav ul li ul li a {
    background-image:none;
    color:#666;
    border:none;
    font-size:12px;
    padding-top:2px;
    display:block;
}

#topNav ul li ul li a:link {
    background-image:none;
}

#topNav ul li ul li a:hover {
    background-image:none;
    background-color:#fff;
    color:#333;
}

#breadcrumbContainer {
    width:900px;
    background-color:#FFF;
    text-align:top;
    padding-top:0;
    border-top:1px dotted #ccc;
    height:29px;
    margin:0 auto;
}

#breadcrumb {
    color:#666;
    font-size:10px;
}

#breadcrumb a {
    background:url(images/icon_breadcrumb.jpg?1345111320) no-repeat right center;
    color:#666;
    font-size:10px;
    padding-right:14px;
}

#breadcrumbRight {
    margin-right:0;
}

#adLeaderboard {
    background:#e0e0e0;
}

.contentArea .h1 {
    font-family:'AllerLightRegular', Arial, sans-serif;
    font-weight:400;
    font-size:25px;
    line-height:25px;
    color:#399;
}

.contentArea .h2 {
    font-weight:400;
    font-family:'AllerLightRegular', Arial, sans-serif;
    font-size:16px;
    line-height:16px;
    color:#333;
}
.contentArea .h1 a {
    color: #399;
}
.contentArea .h2 a {
    color: #333;
}
.contentArea .h3 {
    font-family:'AllerLightRegular', Arial, sans-serif;
    font-weight:400;
}

.contentArea .h4 {
    color:#666;
    font-size:12px;
    line-height:17px;
    margin-left:0;
}

.module {
    font-size:12px;
    line-height:16px;
    color:#333;
}

.dotted {
    background-image:url(images/bg_dotted.gif?1345111320);
}

.border hr,.linklist ul,.linklist li,.comments .h4,.feeds .h2,.formbuilder .h2 {
    border-color:#666;
}

.divider {
    border-color:#e3e3e3;
}

.focus {
    border-bottom:3px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    padding:0;
}

.focus .h4 {
    margin-bottom:6px;
}

.linklist .h2,.border .h2,.feeds .h2,.focus .h2 {
    padding-bottom:7px;
}

.focus .h2 {
    border-bottom:3px solid #666;
}

.module.focus p {
    margin-bottom:10px;
}

.comments dl dd {
    border-bottom:1px solid #ccc;
}

.comments .h4 {
    border-bottom:2px solid #ccc;
    background:url(images/comment.png?1345111320) no-repeat left 2px;
    padding-left:22px;
    background-image:url(images/icon_comment.gif?1345111320);
}

.feeds dl dd {
    color:#333;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
}

.comments .small a {
    color:#666!important;
    font-size:11px;
    margin-bottom:0!important;
}

.linklist li a {
    font-size:11px;
    background-image:url(images/icon_arrow_right.png?1345111320);
    color:#399;
    padding-left:20px;
    font-weight:700;
}

.comments .right {
    color:#666;
}

.gallery .pics li em {
    font-style:normal;
}

.gallery .pics li span.pic {
    background:#eee;
}

.gallery ul.nav {
    border-top:4px solid #66665d;
}

.gallery .nav .info {
    color:#414141;
    font-size:11px;
}

.gallery .nav a.previous {
    background-image:url(images/icon_arrow_left.png?1345111320);
}

.gallery .nav a.next {
    background-image:url(images/icon_arrow_right.png?1345111320);
}

.formbuilder.normal form {
    background:url(images/bg_lines.jpg?1345111320) repeat left top!important;
}

.formbuilder label {
    margin-top:15px;
}

.formbuilder.simple {
    background:#fff url(images/bg_lines.jpg?1345111320) repeat left top;
}

.formbuilder.simple form {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

.formbuilder.simple .h2 {
    background:none;
    border:none;
    margin-bottom:0;
}

.formbuilder .button {
    border:none;
    background:none;
    text-align:right;
}

.formbuilder .button,.formbuilder.simple .button {
    font-family:'AllerLightRegular', Arial, sans-serif;
    font-weight:400;
    font-size:18px;
    height:31px;
    background:url(images/submit_button.gif?1345111320) no-repeat right center;
    padding-right:35px;
    background-image:url(images/submit_button.png?1345111320);
    color:#333;
}

.formbuilder.simple label {
    font-size:12px;
}

.formbuilder .text {
    background:none;
    border:none;
    padding-top:2px;
    padding-bottom:1px;
}

.formbuilder .textarea {
    height:121px;
}

.formbuilder .textarea-container,.formbuilder .text-container {
    padding-top:1px;
    border-color:#666;
}

.map {
    border-color:#ccc;
}

.box {
    background:url(images/bg_lines.jpg?1345111320) repeat left top;
    margin-left:10px;
    margin-right:10px;
}

.hours,.contact {
    background:none;
    margin-left:10px;
    margin-right:10px;
    padding:0;
}

.hours .h2,.contact .h2 {
    border-bottom:3px solid #666!important;
    color:#333;
    padding-bottom:7px;
}

.hours ul {
    background:none;
    font-size:13px;
    font-weight:lighter;
    color:#333;
    line-height:26px;
    padding:0 0 10px;
}

.hours li {
    padding:0;
}

.external {
    margin-left:10px!important;
    margin-right:10px!important;
    background-color:none;
    background:none;
}

.external a {
    font-family:'AllerLightRegular', Arial, sans-serif;
    font-weight:400;
    font-size:16px;
    color:#e20a16;
    padding:15px 0;
}

.external a.photo {
    background:#fff url(images/360.gif?1345111320) no-repeat 14px center;
    background-position:left;
    padding-left:56px;
    background-image:url(images/360.gif?1345111320);
    color:#399;
}

.external a.quote {
    background:#fff url(images/quotes.gif?1345111320) no-repeat 14px center;
    background-position:left;
    padding-left:56px;
    background-image:url(images/quotes.gif?1345111320);
    color:#399;
}

.logos ul {
    background:none;
    margin:0;
    padding:10px 0 8px 1px;
}

.logos li {
    display:inline;
    margin-right:10px;
}

.logos li img {
    height:30px;
}

.subnav a {
    background:url(images/list_arrow.png?1345111320) no-repeat 1px 7px;
    border-bottom:1px dotted #ccc;
    padding-left:14px;
    color:#666;
    font-size:12px;
    background-image:url(images/list_arrow.png?1345111320);
}

.subnav a:hover {
    text-decoration:none;
    color:#333;
}

.subnav li {
    margin-bottom:2px;
}

.subnav ul ul {
    border-bottom:1px dotted #ccc;
}

.subnav li li {
    border:none;
    margin:0;
}

.subnav a.active,.subnav a.active:hover {
    border-bottom:1px dotted #ccc;
    font-weight:400;
    color:#399;
}

.subnav li li .active,.subnav li li a.active:hover,.subnav a.hasChildren,.subnav a.hasChildren:hover {
    border-bottom:0;
}

.subnav li li a {
    background:none;
    font-size:11px;
    padding-left:14px;
}

.subnav li li li a {
    padding-left:24px;
}

.subnav li li li li a {
    padding-left:34px;
}

.subnav li li li li li a {
    padding-left:44px;
}

div.address {
    color:#333;
    font-size:12px;
    height:38px;
    letter-spacing:0;
    line-height:38px;
    text-transform:none;
    border-top:1px dotted #ccc;
    margin:10px 25px 0;
}

#poweredByContainer {
    border:none;
}

#poweredBy {
    color:#333;
    margin-left:0;
}

.notify .h2 {
    padding-bottom:5px;
}

.notify a {
    background-image:url(images/list_arrow2.gif?1345111320);
    color:#35a1bf;
    text-decoration:none;
}

.notify a:hover {
    text-decoration:underline;
}

.intro .small {
    color:#666;
    margin-bottom:100px;
}

.intro p {
    margin-bottom:5px;
}

#wrapper .footer {
    width:900px;
    padding-left:0;
    padding-right:0;
}

#wrapper .footer div.address {
    border-bottom:1px dotted #ccc;
    margin-left:0;
    margin-right:0;
}

a.button,a.button:hover {
    background-image:url(images/icon_arrow_right.png?1345111320)!important;
    color:#5e83b9;
    padding-left:20px!important;
}

#topNav ul li {
    border-right:1px solid #fff;
}

#topNav ul ul a {
    background:none!important;
    font-weight:700!important;
}

.border hr,.linklist ul,.formbuilder .h2,.focus .h2,.hours .h2,.contact .h2 {
    border-color:#399!important;
    border-width:4px!important;
}

.focus,.comments .h4 {
    border-bottom:2px solid #e3e3e3;
}

.feeds .h2 {
    border-bottom:4px solid #399;
}

.feeds strong {
    font-size:13px;
}

.linklist .h2 {
    color:#000;
}

.box,.formbuilder.normal form,.formbuilder.simple {
    background:#e1f0f0!important;
}

.notify p a {
    color:#399;
    font-weight:700;
    font-size:11px;
}

a,.intro p a {
    color:#399;
}

.module p,.comments dt a,.gallery .pics a,.contact ul li ul li,.contact ul.info li strong,.contact ul.info li,.contact a {
    color:#333;
}

.feeds dl,.comments dl,.linklist li,.feeds dl dd,.comments dl dd {
    border-bottom:1px solid #e3e3e3;
}

/* CHECKOUT */
.checkoutArea table tbody tr.total td {
    background: #f2f2f3;
}
.checkoutArea {
    color: #333;
}
.product .shopButtonWrapper, .checkoutArea .shopButtonWrapper {
    border: 0;
    text-align: right;
}
.contentAreaB .shopButtonWrapper,
.contentAreaD .shopButtonWrapper,
.contentAreaC .shopButtonWrapper {
    text-align: left;
}
.product .shopButton, .checkoutArea .shopButton {
    display: inline-block;
    background: url(images/submit_button.png?1345111320) no-repeat right center;
    padding: 0 37px 0 0;
    width: auto;
    height: 28px;
    font-family: ''AllerLightRegular'', Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #333;
    border: 0;
    text-align: right;
}
.productBuyButton .shopButtonWrapper {
    text-align: right;
}
